body {
    font-family: 'Segoe UI', sans-serif;
    background: #e93b75;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    background: rgb(70, 126, 121);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
  
  h2 {
    text-align: center;
    color: #07011a;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  button {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .result {
    margin-top: 30px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
  }
  
  .result p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .pass {
    color: green;
  }
  
  .fail {
    color: red;
  }
  